annotated-types
anyio
click
cramjam
fastapi
fastparquet
fsspec
h11
idna
joblib
numpy
packaging
pandas
pyarrow
pydantic
pydantic_core
python-dateutil
pytz
scikit-learn
scipy
six
sniffio
starlette
threadpoolctl
typing_extensions
tzdata
uvicorn
